body {
    background-color: #28666E;
}
h1 {
    text-align: center;
    border:solid #8a8a8a;
    border-width: 2px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: orangered;
    margin: 10px;
    padding: 5px;
}


div:hover {
    all: 300px;
}
button {
    display:inline-block;
    padding:5px;
    border:0.1em solid #8a8a8a;
    margin:10px;
    border-radius:2px;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color: #383234;
    text-align:center;
    transition: width 2s, height 4s;
    font-size: 32px;
    cursor: pointer;
}

.button:hover {background-color: #443d40}

.button:active {
  background-color: #4b4446;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 100px;
    border: none;
  }

  div.gallery {
    margin: 5px;
    border: 5px solid rgb(56, 50, 50);
    float:down;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
 * {
    box-sizing: border-box;
}
html, body, div, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
}
